/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: -20px;
}

ul a {
    text-decoration: none;
    height: 19px;
    padding-top: 16px;
    display: block;
    margin-right: 50px;
}

ul a:hover {
    color: #0065FC;
    border-top: #0065FC 2px solid;
}

header img {
    width: 61.09px;
    height: 19px;
}




/****** Information ***********/
.information {
    display: flex;
    flex-direction: column;
}

.information h1 {
    font-size: 22px;
    margin: 0;
    padding-top: 20px;
}

.information p {
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
}

.information form {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.information form i {
    color: black;
    width: 14px;
}

.information form input {
    border: none;
    font-size: 18px;
    text-align: center;
}

.information form p {
    color: white;
    text-align: center;
    font-size: 18px;
    background-color: #0065FC;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 10px 10px 0px;
}

.information h2 {
    font-size: 18px;
    margin: 0;
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.information button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-size: 17px;
    border: 2px solid #D9D9D9;
}

.information button:hover {
    background-color: #deebff;
}

.info-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-text i {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #0065FC;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
  width: 65%;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergement-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 33px;
}

.card img {
    width: 100%;
    height: 136px;
    width: 240px;
    border-radius: 20px 20px 0px 0px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card-content h3 {
    font-size: 16px;
}

.card-content p {
    font-size: 14px;
    margin: 0;
}

.afficher{
    font-size: 18px;
    padding-top: 20px;

}

.hebergement-cards .card-subtitle{
    margin : 0;
}

.hebergement-cards .card-rating {
    margin-bottom: 5px;

}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites h2 {
    padding-top: 50px;
}

.activite {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.activite .activite-card {

    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.activite p {
    font-size: 16px;
    white-space: nowrap;
    padding-left: 10px;
}

.activite img {
    width: 300px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}


/****** Footer ***********/

footer {
    display: flex;
    justify-content: space-between;

}



footer ul {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

footer ul li {
    font-size: 16px;
}

footer ul li b {
    font-size: 18px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}